@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Hi+Melody&family=Meow+Script&family=Momo+Signature&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    /* font-family:Arial, sans-serif; */
    font-family: "Hi Melody", cursive;
    font-weight: 800;
    font-style: normal;
    /* background: #78ff7f9d; */
    background-image: url(./Asssets/thunderstorm-countryside.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding:20px;
}

.header-section {
    text-align: center;
    max-width: 900px;
    margin: 0 auto 40px;
}

.header-section h1 {
    font-size: 2.8rem;
    color: red;
    margin-bottom: 10px;
}

.header-section p {
    font-size: 1.1rem;
    color: greenyellow;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    /* background: #ffffff73; */
    background: #ffffffbb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: translateY(-8px);
}

.card h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    /* color: #222; */
    background-image: linear-gradient(to top, #ff0000, #0000ff);
    border-radius: 50%;
    color: white;
}

.card p {
    color: #666;
    line-height: 1.5;
     margin-bottom: 15px;
}

.card a {
    display: inline-block;
    margin: 5px;
    padding: 8px 14px;
    color: #fff;
    background: #007bff;
    text-decoration: none;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: 0.3s;
}

 .card a:hover {
    background: #0056b3;
}

@media (max-width: 1200px) {
     .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }

    .header-section h1 {
        font-size: 2rem;
    }
}