*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 10px;
}

.HEX{
    background-color: black;
    height: 50px;
    width: 450px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

a{
    text-decoration: none;
    color: black;
}

.HEX:hover{
    border: 3px dotted rgb(199, 241, 45);
    border-radius: 8px;
    background-color: #9ddf817a;
    color: black;
}

.Sound:hover{
    background-color: #dae90d65;
    border-radius: 5px;
    color: rgb(0, 255, 64);
}


.Cell:hover{
    border: 1px solid black;
}

.container{
    display: flex;
}

.Cell{
    height: 220px;
    width: 400px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    cursor: pointer;
}


/* COLOURS */
.BEEKEEPER{
    background-color: #eccc68;
}

.SPICED{
    background-color: #ff7f50;
}

.PINK{
    background-color: #ff6b81;
}

.JUNE{
    background-color: #a4b0be;
}

.COASTAL{
    background-color: #57606f;
}

.TURBO{
    background-color: #ffa502;
}

.QUINCE{
    background-color: #ff6348;
}

.CARMINE{
    background-color: #ff4757;
}

.PURE{
    background-color: #747d8c;
}

.HINT{
    background-color: #2f3542;
}

.MIDDLE{
    background-color: #7bed9f;
}

.HELI{
    background-color: #70a1ff;
}

.EXODUS{
    background-color: #5352ed;
}

.DEEPCOA{
    background-color: #ffffff;
}

.SOARING{
    background-color: #dfe4ea;
}

.GREENLAND{
    background-color: #2ed573;
}

.STEEL{
    background-color: #1e90ff;
}

.BLUR{
    background-color: #3742fa;
}

.DEEP{
    background-color: #f1f2f6;
}

.WIZARD{
    background-color: ##ced6e;
}

@media screen and (max-width: 1440px) {
    .Cell{
    height: 340px;
}

span{
    font-size: 30px;
    text-align: center;
}

}

@media screen and (max-width: 1024px) {
    .Cell{
    height: 270px;
}

span{
    font-size: 22px;
    text-align: center;
}

}

@media screen and (max-width: 768px) {
    .Cell{
    height: 198px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding: 10px;
}


.HEX{
    background-color: black;
    height: 50px;
    width: 350px;
}

span{
    font-size: 15px;
    text-align: center;
}

}

@media screen and (max-width: 425px) {
    nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    padding: 10px;
}

.Cell{
    height: 165px;
}


.HEX{
    
    background-color: black;
    height: 35px;
    width: 250px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

span{
    display: none;
}

}

@media screen and (max-width: 375px) {
    nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    padding: 10px;
}

.Cell{
    height: 135px;
}


.HEX{
    
    background-color: black;
    height: 30px;
    width: 180px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

span{
    display: none;
}

}

@media screen and (max-width: 320px) {
    nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    padding: 10px;
}

.Cell{
    height: 115px;
}


.HEX{
    
    background-color: black;
    height: 30px;
    width: 180px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

span{
    display: none;
}

}