*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 10px;
}

.HEX{
    background-color: black;
    height: 50px;
    width: 450px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

a{
    text-decoration: none;
    color: black;
}

.HEX:hover{
    border: 3px dotted rgb(199, 241, 45);
    border-radius: 8px;
    background-color: #9ddf817a;
    color: black;
}

.Sound:hover{
    background-color: #dae90d65;
    border-radius: 5px;
    color: rgb(0, 255, 64);
}


.Cell:hover{
    border: 1px solid black;
}

.container{
    display: flex;
}

.Cell{
    height: 220px;
    width: 400px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    cursor: pointer;
}


/* COLOURS */
.BEEKEEPER{
    background-color: #f6e58d;
}

.SPICED{
    background-color: #ffbe76;
}

.PINK{
    background-color: #ff7979;
}

.JUNE{
    background-color: #badc58;
}

.COASTAL{
    background-color: #dff9fb;
}

.TURBO{
    background-color: #f9ca24;
}

.QUINCE{
    background-color: #f0932b;
}

.CARMINE{
    background-color: #eb4d4b;
}

.PURE{
    background-color: #6ab04c;
}

.HINT{
    background-color: #c7ecee;
}

.MIDDLE{
    background-color: #7ed6df;
}

.HELI{
    background-color: #e056fd;
}

.EXODUS{
    background-color: #686de0;
}

.DEEPCOA{
    background-color: #30336b;
}

.SOARING{
    background-color: #95afc0;
}

.GREENLAND{
    background-color: #22a6b3;
}

.STEEL{
    background-color: #be2edd;
}

.BLUR{
    background-color: #4834d4;
}

.DEEP{
    background-color: #130f40;
}

.WIZARD{
    background-color: #535c68;
}

@media screen and (max-width: 1440px) {
    .Cell{
    height: 340px;
}

span{
    font-size: 30px;
    text-align: center;
}

}

@media screen and (max-width: 1024px) {
    .Cell{
    height: 270px;
}

span{
    font-size: 22px;
    text-align: center;
}

}

@media screen and (max-width: 768px) {
    .Cell{
    height: 198px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding: 10px;
}


.HEX{
    background-color: black;
    height: 50px;
    width: 350px;
}

span{
    font-size: 15px;
    text-align: center;
}

}

@media screen and (max-width: 425px) {
    nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    padding: 10px;
}

.Cell{
    height: 165px;
}


.HEX{
    
    background-color: black;
    height: 35px;
    width: 250px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

span{
    display: none;
}

}

@media screen and (max-width: 375px) {
    nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    padding: 10px;
}

.Cell{
    height: 135px;
}


.HEX{
    
    background-color: black;
    height: 30px;
    width: 180px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

span{
    display: none;
}

}

@media screen and (max-width: 320px) {
    nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    padding: 10px;
}

.Cell{
    height: 115px;
}


.HEX{
    
    background-color: black;
    height: 30px;
    width: 180px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

span{
    display: none;
}

}