*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(62, 30, 179);
    padding: 50px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 20px 0px;
    gap: 32px;
    max-width: 1024px;
    flex-grow: 1;
}

.Palette{
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
    gap: 14px;
    border-radius: 5px;
    width: 250px;
    flex-grow: 1;
    color: black;
}

a{
    text-decoration: none;
}

.img-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
}

.txt-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    gap: 50px;
}
