*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 10px;
}

.HEX{
    background-color: black;
    height: 50px;
    width: 450px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

a{
    text-decoration: none;
    color: black;
}

.HEX:hover{
    border: 3px dotted rgb(199, 241, 45);
    border-radius: 8px;
    background-color: #9ddf817a;
    color: black;
}

.Sound:hover{
    background-color: #dae90d65;
    border-radius: 5px;
    color: rgb(0, 255, 64);
}


.Cell:hover{
    border: 1px solid black;
}

.container{
    display: flex;
}

.Cell{
    height: 220px;
    width: 400px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    cursor: pointer;
}


/* COLOURS */
.BEEKEEPER{
    background-color: #FFC312;
}

.SPICED{
    background-color: #C4E538;
}

.PINK{
    background-color: #12CBC4;
}

.JUNE{
    background-color: #FDA7DF;
}

.COASTAL{
    background-color: #ED4C67;
}

.TURBO{
    background-color: #F79F1F;
}

.QUINCE{
    background-color: #A3CB38;
}

.CARMINE{
    background-color: #1289A7;
}

.PURE{
    background-color: #D980FA;
}

.HINT{
    background-color:  #B53471;
}

.MIDDLE{
    background-color:  #B53471;
}

.HELI{
    background-color:  #009432;
}

.EXODUS{
    background-color:  #0652DD;
}

.DEEPCOA{
    background-color:  #9980FA;
}

.SOARING{
    background-color:  #833471;
}

.GREENLAND{
    background-color:  #EA2027;
}

.STEEL{
    background-color:  #006266;
}

.BLUR{
    background-color:  #1B1464;
}

.DEEP{
    background-color:  #5758BB;
}

.WIZARD{
    background-color:  #6F1E51;
}

@media screen and (max-width: 1440px) {
    .Cell{
    height: 340px;
}

span{
    font-size: 30px;
    text-align: center;
}

}

@media screen and (max-width: 1024px) {
    .Cell{
    height: 270px;
}

span{
    font-size: 22px;
    text-align: center;
}

}

@media screen and (max-width: 768px) {
    .Cell{
    height: 198px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding: 10px;
}


.HEX{
    background-color: black;
    height: 50px;
    width: 350px;
}

span{
    font-size: 15px;
    text-align: center;
}

}

@media screen and (max-width: 425px) {
    nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    padding: 10px;
}

.Cell{
    height: 165px;
}


.HEX{
    
    background-color: black;
    height: 35px;
    width: 250px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

span{
    display: none;
}

}

@media screen and (max-width: 375px) {
    nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    padding: 10px;
}

.Cell{
    height: 135px;
}


.HEX{
    
    background-color: black;
    height: 30px;
    width: 180px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

span{
    display: none;
}

}

@media screen and (max-width: 320px) {
    nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    padding: 10px;
}

.Cell{
    height: 115px;
}


.HEX{
    
    background-color: black;
    height: 30px;
    width: 180px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

span{
    display: none;
}

}